{name, "procket"}.
{authors, ["Michael Santos <michael.santos@gmail.com>"]}.
{description, "Erlang interface to low level socket operations"}.
{homepage, "http://blog.listincomprehension.com/search/label/procket"}.
{rebar_compatible, true}.
{license, "BSD"}.
{url, {git, "https://github.com/msantos/procket.git", {branch, "dev"}}}.
{applications, [procket]}.
